// Normally mainpage styles
// body
// 	+s(coderiver)

.i-logo-new
	// +s(logo_kaliadnae)
	display: inline-block
	background: url(../img/logo_kaliadnae.png) center bottom no-repeat
	width: 150px
	height: 70px  
	background-size: cover  
.m-logo
	display: none
	text-align: center
	width: 100%
	padding-bottom: 13px 
	position: relative
	overflow: hidden
	&:before
		content: '' 
		position: absolute
		left: -100px
		right: -100px
		height: 300px
		border-radius: 100%
		background: url(../img/page-bg.png) center bottom no-repeat
		top: -215px 
		// box-shadow: 0 0 11px 0px rgba(0, 0, 0, 1)
	+r(767)
		display: block
	a
		z-index: 2
		position: relative 
		
.warn
	display: none
	position: absolute
	bottom: 0
	left: 0
	right: 0
	+hide-text
	text-align: center 
	padding-bottom: 10px 
	+r(767)
		display: block
		img
			opacity: .6
	&__meta
		font-size: 10px
		position: absolute
		bottom: 50px
		right: 10px
		transform: rotate(-90deg) translateX(100%) 
		transform-origin: right
		color: #fff  
		letter-spacing: 1px 
